header {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 10px;
}

header h1 {
    padding: 10px;
}

header p {
    padding: 15px;
}

nav {
    background-color: #555;
    padding: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: #555;
}

.flex-container-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.flex-items-1, .flex-items-2 {
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 10px;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    margin-bottom: -20px;
}

.flex-item-3 {
    flex: 0 0 25%;
    background-color: #f9f9f9;
    padding: 10px;
    margin-right: 10px;
}

aside {
    padding-top: 0px;
    padding-bottom: 0px;
}

aside ul {
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-bottom: 40px;
}

aside li {
    margin-top: 0px;
    padding-left: 10px;
}

.flex-item-4 {
    flex: 1;
    padding: 0px;
    padding-left: 10px;
    background-color: #f9f9f9;
    margin-top: 0px;
}

.flex-item-5 {
    flex: 1;
    padding: 0px;
    padding-left: 0px;
}

.flex-column-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}

.flex-container-3 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-item-6, .flex-item-7 {
    flex: 1;
    margin-top: 0px;
    padding: 0px;
    background-color: #f9f9f9;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

footer {
    padding: 20px;
    background-color: #333;
    text-align: center;
    color: white;
    margin-top: 10px;
}