.flex-container-1 {
    display: flex;
    justify-content: space-between;
}

.flex-items-1, .flex-items-2 {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 10px;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-item-3 {
    flex: 0 0 25%;
    background-color: #f9f9f9;
    padding: 10px;
}

.flex-item-4, .flex-item-5 {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.flex-item-4 {
    margin-bottom: 0;
}

.flex-item-5 {
    margin-bottom: 0;
}

.flex-item-4 h2, .flex-item-5 h2 {
    text-align: center;
}

.flex-item-4 p, .flex-item-5 p {
    text-align: justify;
}

section {
    width: 100%;
}

article {
    width: 100%;
}


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
} 

.box-1{
   background-color: darkblue;
   font-size: 50px;
   padding-top: 50px;
   margin-top: 59px;
   padding: 50px;
   text-align: center;
   border: 5px solid gold;
}

header {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 10px;
}

header h1 {
    padding: 10px;
}

header p {
    padding: 15px;
}

nav {
    background-color: #555;
    padding: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: #555;
}

section {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    margin: 10px;
}

article {
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    margin: 10px;
}

aside {
    flex: 0 0 25%;
    background-color: #f9f9f9;
    padding: 10px;
}

 aside ul {
    padding: 20px;
    padding-bottom: 5px;
    padding-left: 15px;
}

footer {
    padding: 20px;
    background-color: #333;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}